@import url('https://fonts.googleapis.com/css?family=Nunito:300');

* {
    margin: 0;
    padding: 0;
}

#home {
    background-image: linear-gradient(#1D976C, #93F9B9);
}
#aboutme {
    background-color: green;  
}
#experience {
    background-color: grey;
}
#projects {
    background-color: pink;
}
.album {
    display: grid;
    height: 100%;
    background-color: orange;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
        .album-item {
            background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            &.small {
                grid-row: span 1;
                grid-column: span 1;

            }
            &.medium {
                grid-row: span 2;
                grid-column: span 2;
                background-color: grey;
            }
            &.large {
                grid-row: span 3;
                grid-column: span 3;
            }
            &.tall {
                grid-row: span 3;
                grid-column: span 2;
                background-image: url("..//resources/tall.jpg");
                background-size: cover; 
                background-position: center;

            }
            &.wide {
                grid-row: span 2;
                grid-column: span 3;
            }
        }
    }
        
body {
    font-family: 'Nunito', sans-serif;
}
section {
    height: 100vh;
}
ul {
    position: fixed;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    a {
        text-decoration: none;
    }
}

li::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: width 0.3s;
}

li:hover::after {
    width: 100%;
    transition: width 0.3s;
}